/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Atma&family=Courgette&display=swap');


body {
    background-color: #AFC2D5;
}

/* Game box styling */

#game {
    height: 70%;
    width: 70%;
    margin: 0 auto;
    background-color: #DFEFCA;
    border: 2px solid black;
    border-radius: 50px;
}

h1 {
    padding: 20px 0 20px 0;
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 3rem;
}

/* Game buttons & scoreboard styling */

#choices {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
}

#choices button {
    font-size: 3rem;
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}

#choices button:hover {
    transform: scale(1.3);
}

#result {
    font-family: 'Atma', cursive;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

#scoreboard {
    font-family: 'Atma', cursive;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

/* Start again button */

#reset-div {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
}

#reset-btn {
    font-size: 1.5em;
    font-family: 'Atma', cursive;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

#reset-btn:hover {
    transform: scale(1.2);
}

/* Selection highlight styling */

.highlight-winner {
    background-color: rgb(28, 167, 28);
}

.highlight-loser {
    opacity: 0.5;
    background-color: lightcoral;
}

.tie {
    background-color: yellow;
}

/* Media queries */

/* Mobile devices */

@media (max-width: 480px) {
    #choices {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    #choices button {
        margin: 5px 0;
    }

    #result {
        font-size: 22px;
    }

    #scoreboard {
        font-size: 22px;
    }
}

/* Tablet devices (landscape mode) */

@media (min-width: 481px) and (max-width: 768px) {
    #choices {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #choices button {
        margin: 5px 0;
    }

    #result {
        font-size: 28px;
    }

    #scoreboard {
        font-size: 28px;
    }
}